{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Nube - Nicolas</title>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>

    <header class="header">
    <nav class="nav">
        <div class="logo">SR</div>
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <a href="#" class="cta">Empezar</a>
    </nav>
    </header>
    <div class="container">
        <h1>☁️ Mi Nube Personal</h1>
        <form method="POST" enctype="multipart/form-data" action="{% url 'index' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-upload">Subir Archivo</button>
        </form>

    <div style="margin-top: 15px; text-align: center;">
        <a href="https://console.cloudinary.com/console/media_library/folders/all" 
           target="_blank" 
           style="background-color: #39c5bb; color: white; padding: 10px 20px; text-decoration: none; border-radius: 8px; font-weight: bold; display: inline-block; font-size: 14px;">
           ☁️ Gestionar Cloudinary
        </a>
    </div>
        <hr>
        <h3 style="font-size: 18px; margin-bottom: 15px;">Tus Archivos</h3>
        <div class="file-list">
            {% for doc in archivos %}
                <div class="file-card">
                    <div class="file-info">
                        <span class="file-name">{{ doc.titulo }}</span>
                    </div>
                    <div class="btn-group">
                        <a href="{{ doc.archivo.url }}" target="_blank" class="link-action view">Ver</a>
                        <a href="{% url 'eliminar_archivo' doc.id %}" class="link-action delete" onclick="return confirm('¿Borrar?')">Borrar</a>
                    </div>
                </div>
            {% empty %}
                <p style="text-align: center; color: #94a3b8; font-size: 14px;">Tu nube está vacía.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>